.morecasinopage {
  border: 4px solid #363636;
  border-radius: 0.5rem;
}

.morecasinopage .morecasinopage_row {
  margin-left: 0px;
  margin-right: 0px;
}

.morecasinopage .morecasinopage_row .morecasinopage_l {
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 27px;
}

.morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_IMG {
  width: 100%;
  height: 100%;
}

.morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_bonus {
  width: 100%;
  color: white;
  font-weight: bold;
  margin-top: 15px;
}

.morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_play {
  margin-top: 20px;
  background: #2b70ff;
  display: inline-block;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.morecasinopage .morecasinopage_row .morecasinopage_r {
  padding: 10px 15px;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_title h3 {
  font-weight: bold;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_title .morecasinopage_r_more {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  background-color: #198754;
  padding: 0px 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_title .morecasinopage_r_more:hover {
  text-decoration: none;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_point {
  margin-top: 5px;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_point ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.morecasinopage .morecasinopage_row .morecasinopage_r .morecasinopage_r_point ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_bonus {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .morecasinopage .morecasinopage_row .morecasinopage_l {
    padding: 30px 27px;
  }
  .morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_bonus {
    font-size: 1rem;
  }
  .morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_play {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 479px) {
  .morecasinopage .morecasinopage_row .morecasinopage_l {
    padding: 30px 27px;
  }
  .morecasinopage .morecasinopage_row .morecasinopage_l .morecasinopage_l_play {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=morecasinoCSS.css.map */